{% extends 'base.html' %}
{% block content %}
    {% load crispy_forms_tags %}
    <div class="container shadow mt-5 mb-5 rounded" style="max-width: 600px; padding: 50px">
        <h2 class="text-center">Add Email(s) To Email List</h2>
        <form action="{% url 'add_email_to_list' %}" method="POST" enctype="multipart/form-data" class="mt-4">
            {% csrf_token %}
            <label class="form-label mt-3" for="email_list_name">Email List</label>
            <select name="email_list_name" class="form-control" required>
                <option value="" disabled selected>Selected</option>
                {% for email_list_name in email_list_names %}
                    <option value="{{ email_list_name }}">{{ email_list_name }}</option>
                {% endfor %}
            </select>

            <label class="form-label mt-3" for="email_address">Email Address</label>
            <input type="text" name="email_address" class="form-control" placeholder="example@gmail.com">

            <label for="emails_csv_file" class="form-label mt-3">Import emails</label>
            <input class="form-control" type="file" name="emails_csv_file">
            <div class="form-group pt-4">
                <input type="submit" class="btn btn-primary" value="Submit">
            </div>
            <div style="margin-top: 10px">
                {% include 'alerts.html' %}
            </div>
        </form>
        <div class="container mt-2 p-0">
            <a href="{% url 'create_email_list' %}">create new email list</a>
        </div>
    </div>
{% endblock %}